@font-face{
	font-family: 'cooltevica';
	src:url('../font/coolvetica rg.ttf');
}
body{
	font-family: 'cooltevica';
}
.bar{
	display: none;
	padding: 20px;
	background-color: white;
	font-size: 24pt;
}
.bar i{
	cursor: pointer;
}
.show-nav{
	transform: translateX(-200px) !important;
	transition-delay: 0s
}
.home-row{
	display: flex;
	height: 90%;
	background-color: white;
}
.home-side{
	text-align: center;
	flex:1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.home-logo{
	text-align: center
}
.home-font{
	font-size: 36pt;
}
.home-content{
	flex:2;
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 16pt;
	display: flex;
	align-items: center;
}
.nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.nav ul div {
	display: none
}
.nav ul li{
	padding: 10px;
	font-size: 24pt;
	text-decoration:none;
	color: black;
	cursor: pointer;
}
.content{
	transition: 0.3s linear;
	height: 100%;
	transform: translateX(0%);
	background-color: white;
}
.container{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	top:0;
	left: 0;
	visibility: hidden; 	
	transform: translateY(-100%);
	transition: 0.3s , visibility 0s linear 0.3s;
}
.show{
	visibility: visible;
	transform: translateY(0%);
	transition-delay: 0s;
}
.submenu-content{
	display: flex;
	justify-content: center;
	height: 80%;
}
.submenu-container{
	padding: 80px 0px;
	display: flex;
	width: 25%;
	height: 80%;
	flex-direction: column;
	text-align: center
}
.submenu-title{
	margin: 0px 20px;
	font-size:14pt;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 60px;
}
.submenu-ikon{
	margin: 80px auto;
	width: 70px;
	height: 70px;
	padding: 20px;
	border-radius: 100%;
	background-color: black;
	color: white;
	font-size: 36pt;
	z-index: 1
}
.submenu-footer{
	margin-top: -130px;
	padding-top: 130px; 
	font-size: 16pt;
	font-weight: bold;
}
.submenu-header{
	margin: 0px auto;
	text-align: center;
	padding: 10px;
	font-size: 24pt;
	background-color: black;
	color: white;
}
.portofolio-bg{
	display: flex;
	width: 100%;
	height: 97%;
	flex-direction: column;
	text-align: center;
	background-size: cover;
}
.portofolio-content{
	background-color: rgba(0, 0, 0, 0.5); 
	width: 100%; 
	height: 100%;
	padding: 90px 0px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: white;
}
.portofolio-title{
	font-size: 16pt;
	text-shadow: rgb(0, 0, 0);
}
.portofolio-btn{
	padding: 15px 30px;
	font-size: 12pt;
	color: white;
	border:none;
	cursor: pointer;
	text-decoration: none; 
	border-radius: 5px;
}
.portofolio-btn:hover{
	opacity: 0.8
}
.portofolio-logo img{
	width: 190px
}

@media only screen and (max-width: 768px){
	.nav ul{
		position: absolute;
		height: 100%;
		margin-top: -10px;
		padding-top: 20px;
		padding-right: 20px;
		top: 0;
		right: 0;
		justify-content: flex-start;
		flex-direction: column;
		background-color: white;
		z-index: -1;
	}
	.nav ul div{
		display: block;
		text-align: right;
		padding-right: 0px;
		font-size: 28pt;
	}
	.nav ul div i {
		cursor: pointer;
	}
	.nav ul li{
		font-size: 18pt;
	}
	.bar{
		display: flex;
		font-size: 16pt;
		justify-content: space-between;
		align-items: center;
	}
	.bar div{
		cursor: pointer
	}
	.bar i{
		font-size: 24pt
	}
	.bar img{
		width: 50px;
		height: 45px;
	}
	.home-row{
		flex-direction: column;
	}
	.home-side{
		padding: 5% 0%;
		background-color: white
	}
	.home-content{
		font-size: 100%;
		font-weight: normal;
		justify-content: flex-start;
		padding-top: 1px;
		flex: 1
	}
	.home-logo img{
		width: 30%;
	}
	.home-font{
		font-size: 24pt
	}
	.submenu-content{
		flex-wrap: wrap;
	}
	.submenu-container{
		flex-basis: 50%;
		padding: 40px 0px;
		width: auto;
		height: auto;
	}
	.submenu-title{
		margin: 0px 20px;
		font-size:12pt;
		padding: 5px;
	}
	.submenu-ikon{
		margin: 20px auto;
		width: 25px;
		height: 25px;
		padding: 20px;
		font-size: 16pt;
	}
	.submenu-footer{
		margin-top: 0px;
		padding-top: 0px; 
		font-size: 12pt;
	}
	.submenu-header{
		font-size: 18pt;
	}
	.portofolio-bg{
		flex-grow: 1;
		flex-basis: 50%;
		height: 50%;
	}
	.portofolio-content{
		padding: 15px 0px;
	}
	.portofolio-title{
		font-size: 12pt;
	}
	.portofolio-btn{
		padding: 15px 25px;
		font-size: 12pt;
	}
	.portofolio-logo img{
		width: 120px
	}
} 
